@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 50px;
  padding-top: 9px;
}


.navibar ul li {
  float: left;
  margin-top: 28px;
  font-size: 1.3em;
  padding: 10px;
}

.navibar ul li a{
    color:#fff;
}

.navibar ul li a:hover{
    background-color:transparent;
    text-decoration:underline;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* home */

body {
	background-color:#97B9C2;
}

#landingHeader {
	height:500px;
	background-color:#97B9C2;
	background-repeat:repeat;
	position:relative;
}

#skyline {
    position:absolute;
    right:0;
    bottom:0;
}

#landingHeader img { max-width: 100%; max-height:100%; }

#callout {
	height:270px;
}

#callout h1 {
	color:white;
	font-size:54px;
	line-height:60px;
	padding-right:15px;
}

#callout p {
	color:#8C5627;
	font-size:16px;
	padding-right:15px;
	padding-bottom:20px;
	padding-top:15px;
	line-height:145%;
	margin-top:30px
}



#newJoin{
	margin-left:5px;
	margin-right:5px;
	height:25px;
	text-align:center;
	
}


#newJoin h3{
         font-size:18px;
         margin-top:-7px;   
}

#newJoin p{
        margin-top:5px;
        font-size:10px;
        padding-top:0px; 
}    

#logoNew{
	height:150px;
}

#logoNew img{
        margin-top:30px;    
}

#logoMobileNew{
        margin-bottom:20px;    
}

#moon{
    float:right;
    margin-right:60px;
    margin-top:-70px;
    }


#howHome {
	height:555px;
	-moz-border-radius: 15px;
	border-right:solid;
	border-width:20px;
	border-color:#38566E;
	border-radius: 15px;
	background-color:#38566E;
	max-width:100%;
	padding-top:20px;
	padding-left:20px;
	margin-left:-20px;
	
}


.howWork img{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:-15px;
}

.howWork{
	background-color:white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-top:20px;
	color:#38566E;
}

.howWork p{
	padding-right:20px;
}

.howWork h3{
	margin-left:109px;
}

#how1img{
	float:right;
}


footer {
	height: 100px;
}
