<footer class="footer">
  <small>
    <a href="http://railshero.com/">Rails Hero</a>
    by Nelson Wittwer
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",   about_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</footer>